<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flickr Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87A846931C22BE6E0090D66B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A846A71C22BE6E0090D66B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A846B21C22BE6E0090D66B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
